# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.db
*.opendb
*.bin
*.db-shm
*.ipch
*.db-wal
*.bak

# Build results
[Ee]ngine/[Bb]uild/
[Ee]ngine/[Bb]inaries/

# X-Ray specific
[Gg]amedata/
[Aa]ppdata/
[Dd]esign/
[Aa]rchives/

# Visual studio specific
.vs/