# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.db
*.opendb
*.bin
*.db-shm
*.ipch
*.db-wal
*.bak

# Build results
[Bb]uild/

# X-Ray specific
[Gg]amedata/
[Aa]ppdata/

# Visual studio specific
.vs/